# --- .gitignore ---

# Ignore the Data Folder (Too large for GitHub)
data/

model_v1/
results/
src/code_v1
src/data_acquisition


# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore Virtual Environments
venv/
env/

# Ignore Mac system files
.DS_Store

# Ignore IDE settings
.vscode/
.idea/